body {
    text-align: center;
    }
    h1 {
    font-size: 100px;
    font-variant: small-caps;
    word-spacing: 10px;
    }
    #family_member_name {
    font-size: 70px;
    }
    #album {
    border-style: solid;
    border-color: cyan;
    border: 1px;
    radius: 80px;
    width: 500px;
    height: 500px;
    padding: 5px;
    margin: 10px;
    }
    